In [12]:
import pandas as pd

In [14]:
df=pd.read_csv('student_random_data_with_summary.csv')
print(df)

             Name Roll No                        Marks
0           Kavya  201001                           47
1           Suman  201002                           44
2           Sneha  201003                           75
3          Vikram  201004                           93
4           Swati  201005                           76
5           Deepa  201006                           52
6            Sana  201007                           43
7           Tanya  201008                           92
8          Simran  201009                           77
9           Karan  201010                           49
10          Aarav  201011                           98
11            Dev  201012                           56
12           Aman  201013                           61
13         Suresh  201014                           67
14          Leela  201015                           35
15          Akash  201016                           63
16          Priya  201017                           87
17          Tanvi  201018                           40
18        Bhavana  201019                           64
19          Aditi  201020                           71
20         Rakesh  201021                           84
21         Manish  201022                           36
22          Ankit  201023                           62
23          Arjun  201024                           56
24          Pooja  201025                           46
25          Rohan  201026                           53
26          Pavan  201027                           64
27         Monika  201028                           84
28           Diya  201029                           72
29          Gauri  201030                           98
30         Sameer  201031                           94
31           Neha  201032                           58
32           Isha  201033                           82
33          Meera  201034                           90
34           Riya  201035                           52
35          Ishan  201036                           74
36          Rohit  201037                           63
37        Lavanya  201038                           43
38        Krishna  201039                           85
39         Harsha  201040                           76
40         Aditya  201041                           41
41          Varun  201042                           78
42          Kiran  201043                           72
43         Nikhil  201044                           87
44          Vivek  201045                           48
45         Ananya  201046                           70
46          Rahul  201047                           99
47          Nisha  201048                           64
48           Teja  201049                           93
49        Sanjana  201050                           37
50  Topper: Rahul      --  Highest: 99, Average: 67.02

In [10]:
avg_marks=df['Marks'].mean()
max_marks=df['Marks'].max()
toppers = df[df["Marks"] == max_marks]["Name"].tolist()
print(avg_marks)
print(max_marks)
print(toppers)

67.02
99
['Rahul']

In [11]:
summary_data = {
    "Average Marks": [avg_marks],
    "Highest Marks": [max_marks],
    "Topper(s)": [", ".join(toppers)]
}

summary_df = pd.DataFrame(summary_data)
summary_df.to_csv("student_summary.csv", index=False)

df1=pd.read_csv("student_summary.csv")

print(df1)

   Average Marks  Highest Marks Topper(s)
0          67.02             99     Rahul